body {
  background-color: #ba7eed;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.container-fluid {
  text-align: center;
  border: 2px solid black;
  // vertical-align: middle;
}

.container {
  text-align: center;
  border: 2px solid black;
  // vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#navigation {
  background: #58d0f9;
  line-height: 4vh;

  .nav-link {
    color: black;
  }

  .active {
    background-color: #07be29;
  }
}

#body {
  background: #d27479;
  max-width: 95%;

  #row-title {
    margin-top: 10px;
    max-height: 20%;
  }

  img {
    // transform: rotate(90deg);
    // max-height: 80%;
    max-width: 95%;
    border: 3px solid white;
  }
}
// .progress-bar {
//   margin-left: 50px;
// }

#footer {
  background: #8082ba;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  /* Footer height */
}
