<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Testing Layout!</title>

  <link rel="stylesheet" href="../static/style/style.css">

</head>

<body>

  <div id="page-container">
    <div id="content-wrap">


      <!-- top column for navigation bar-->
      <div class="container-fluid" id="navigation">
        <div class="row">
          <div class="col-sm 12">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a class="nav-link" href="#">Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Sorter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Log-Out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- middle column for page content-->
      <div class="container" id="body">
        <div class="row-sm-12" id="row-title">
          <h2>Select the hand which is in worse condition</h2>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <a href="/">
              <img src="../static/images/{{session_hands[0]}}" alt="">
            </a>
            <br>
          </div>
          <div class="col-sm-6">
            <a href="/">
              <img src="../static/images/{{session_hands[1]}}" alt="">
            </a>
            <br>
          </div>
        </div>
        <br>
        <h6>sorting progress...</h6>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
        </div>
      </div>
      <!-- bottom column for page footer-->
    </div>
    <footer id="footer">

      <div class="container-fluid" id="footer">
        <div class="row">
          <div class="col-sm-12">
            Footer Placeholder
          </div>
        </div>
      </div>
    </footer>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
