{% extends "base.html" %}




{% block content %}

<!-- top column for navigation bar-->
<div class="container-fluid" id="navigation">
  <div class="row">
    <div class="col-sm 12">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('data') }}">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('index') }}">Sorter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Log-Out</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- middle column for page content-->
<div class="container" id="body">
  <div class="row-sm-12" id="row-title">
    <h2>Select the hand which is in worse condition</h2>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="worse" value="{{session_hands[0]}}" />
        <input type="hidden" name="better" value="{{session_hands[1]}}" />
        <input type="hidden" name="progress" value="{{progress + 10}}" />

        <a href="#" onclick="this.parentNode.submit()">
          <img src="../static/images/{{session_hands[0][0]}}" alt="">
        </a>
      </form>
      <br>
    </div>
    <div class="col-sm-6">
      <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="worse" value="{{session_hands[1]}}" />
        <input type="hidden" name="better" value="{{session_hands[0]}}" />
        <input type="hidden" name="progress" value="{{progress + 10}}" />
        <a href="#" onclick="this.parentNode.submit()">
          <img src="../static/images/{{session_hands[1][0]}}" alt="">
        </a>
      </form>
      <br>
    </div>
  </div>
  <br>
  <h6>sorting progress...</h6>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
  </div>
</div>
{% endblock %}
