{% extends "base.html" %}




{% block content %}
<!-- middle column for page content-->
<div class="container" id="body">
  <div class="row-sm-12" id="row-title">
    <h2>Select the hand which is in worse condition</h2>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <a href="{{ url_for('index') }}">
        <img src="../static/images/{{session_hands[0]}}" alt="">
      </a>
      <br>
    </div>
    <div class="col-sm-6">
      <a href="{{ url_for('index') }}">
        <img src="../static/images/{{session_hands[1]}}" alt="">
      </a>
      <br>
    </div>
  </div>
  <br>
  <h6>sorting progress...</h6>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
  </div>
</div>
{% endblock %}
